<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.swang">

    <uses-sdk android:minSdkVersion="4"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoneTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent" />
        <activity
            android:name=".ui.activity.DetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <!-- android:theme="@style/AppTheme.ImagesDetail" -->

        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/sign_in"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.LongDiaryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/write_long_diary"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/drawer_view_item4"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/drawer_view_item5"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.PasswordLockActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/drawer_view_item3"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/about_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.ShareDayCardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent" />

        <activity
            android:name=".ui.activity.ImageDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ImagesDetail" />
        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/searh_tint"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.ShareListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/share_day_card_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.ExportDiaryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/output_day_card_to_sd_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoneTranslucent"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--umeng update apk-->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <meta-data android:value="5618829f67e58eab4e001cb9" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>

    </application>

</manifest>
